@page "/"


<h1>Hello!!!</h1>

<p>Welcome to Professional Website.</p>

<p>On this website, you can do a lot ......</p>

<p>Let's Start >>>></p>

<div>
    <a href="authentication/register">Register</a>
</div>
<div>
<a href="authentication/login">Log in</a>
</div>
<footer id="copyR"> &copy; Obaidi Site 2020</footer>
<style>
    header {
        font-family: "Candara";
        font-size: 22px;
    }

    body {
        background-image: url(/Images/Index.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Candara";
        font-size: 28px;
        text-align: center;
        background-color: #171717;
    }

    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        font-family: "Candara";
    }
</style>